
<h1>Bestellung  Manager</h1>
<% if user_signed_in? %>
    <p><%= link_to "Speisekarte", artikels_path, :class => "btn btn-small btn-info" %></p>
<% else %>
    <p><%= link_to "Einloggen", login_path, :class => "btn btn-small " %></p>
<% end %>

