<h1>Editing bestellung</h1>

<%= render 'form' %>
<td><%= link_to 'Back', bestellungs_path,:class => "btn btn-small" %></td> |
<%= link_to 'Show', @bestellung,:class => "btn btn-small btn-primary" %>

